<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:wght@400;800&display=swap" rel="stylesheet">

    <style>
        body {
            background-color: #1C355A;
            color: #F2F2F2;
        }

        /* WebKit, Blink, Edge */
        .form-control::-webkit-input-placeholder { 
            font-family: 'Poppins', sans-serif;
            color: #bdc3c7; 
        }  
        /* Mozilla Firefox 4 to 18 */
        .form-control:-moz-placeholder { 
            font-family: 'Poppins', sans-serif;
            color: #bdc3c7; 
        }  
        /* Mozilla Firefox 19+ */
        .form-control::-moz-placeholder { 
            font-family: 'Poppins', sans-serif;
            color: #bdc3c7; 
        }  
        /* Internet Explorer 10-11 */
        .form-control:-ms-input-placeholder { 
            font-family: 'Poppins', sans-serif;
            color: #bdc3c7; 
        }  
        /* Microsoft Edge */
        .form-control::-ms-input-placeholder { 
            font-family: 'Poppins', sans-serif;
            color: #bdc3c7; 
        } 
        .heart {
            font-size: 25px;
            color:red;
        }
        .btn {
            background-color: #1C355A;
            color: #F2F2F2;
            border-radius: 20px;
            border-color: #F2F2F2;
            box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.2);
        }
        .btn:hover, .btn:active {
            background-color: #F2F2F2;
            color: #0B1A31;
            box-shadow: inset 3px 3px 3px 0 rgba(0,0,0,0.2);
        }
        .modal-body {
            background-image: linear-gradient(to bottom ,#1C355A,#202125);
        }
        .modal-header, .modal-footer {
            background-color: #F2F2F2;
        }
        #modal {
            background-color: #1C355A;
            color: #F2F2F2;
            border-radius: 20px;
            border-color: transparent;
            box-shadow: -3px -3px 3px 0 rgba(255,255,255,0.7), 3px 3px 3px 0 rgba(0,0,0,0.2);
        }
        #modal:hover, #modal:active {
            background-color: #F2F2F2;
            color: #1C355A;
            box-shadow: inset -3px -3px 3px 0 rgba(255,255,255,0.7), inset 3px 3px 3px 0 rgba(0,0,0,0.2);
        }
    </style>
    
    <title>Search your book here!</title>
  </head>
  <body>

    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: #414345;">Top 5 books with the most likes</h5>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" id="modal" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div style="padding-left: 120px; padding-right:120px;">
            <h1 class="title text-center" style="font-family: 'Playfair Display'; margin-top: 80px; font-size: 60px; font-weight: bold;" id="welcome">Welcome,</h1>
            <h1 class="title text-center" style="font-family: 'Playfair Display'; font-size: 35px;">search your book here!</h1>
        </div>

        <div class="row-lg-12 text-center mb-5">
            <div class="col-6 input mx-auto ml-0 px-0">
                <form id="book-form">
                    <input type="text" id="search" class="form-control form-control-lg text-center" placeholder="Enter your book title..." style=" border: none; background: transparent; color: #bdc3c7;">

                    <!-- Button trigger modal -->
                    <button type="button" id="top5books" class="btn align-middle" data-toggle="modal" data-target="#exampleModal" onclick="topbooks()" style="margin-top:10px;">Top 5 Books</button>
                </form>
            </div>
        </div>


        <table id="table" class="table table-borderless mx-auto" style="max-width:1200px; color: #F2F2F2; font-family: 'Poppins', sans-serif;">
            <thead> 
                <tr> 
                    <th scope="col" class="table-heading text-center" id="cover">Cover</th> 
                    <th scope="col" class="table-heading text-center" id="title">Title</th> 
                    <th scope="col" class="table-heading text-center" id="author">Author(s)</th>
                    <th scope="col" class="table-heading text-center" id="likes">Likes</th>
                </tr>
            </thead>
            <tbody id="content"></tbody>
        </table>
    </div>

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"   integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="   crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>